.signup-container {
  overflow: hidden;
  @media screen and (min-width: 992px) {
    display: flex;
    overflow: visible;

  }
}

.news-matrices-container {
  float: left;
  width: calc(100% - 400px);
}

.signup-form-container {
  background: black;
  width: 425px;
  float: right;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 50px;
}

.signup-form button, input, optgroup, select, textarea {
  font-family: "ZillaSlab-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.15rem;
  margin: 0;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  letter-spacing: 0.05rem;
  outline: none;
}

h1.call-to-action, .signup-form .button {
  font-size: 1.45rem;
  letter-spacing: 0.075rem;
  font-family: "ZillaSlab-SemiBold";
}

h1, {
  margin: 0 0 10px;
}

p {
  margin: 0 0 5px;
}

p.signup-text {
  margin: 0 0 20px;
}

.signup-form .button {
  margin: 15px 0;
  border: 0;
  background: #fff;
  color: #000;
  letter-spacing: 0;
}

.signup-form input.checkbox {
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 5px;
  position: relative;
  top: 7px;
}

.signup-form label {
  font-size: 0.85rem;
}

.signup-form label.disclaimer-text {
  font-family: "ZillaSlab-LightItalic";
}

.signup-form input:invalid {
  box-shadow: none;
}
