.signup-container {
  overflow: hidden;
  @media screen and (min-width: 992px) {
    display: flex;
    overflow: visible;

  }
}

.signup-form-container {
  background: black;
  width: 400px;
  float: right;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  padding: 50px;
}

.signup-form button, input, optgroup, select, textarea {
  font-family: "Zilla-Light", "Arvo","Fira Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
}
